<h1>This is VibeWriter</h1>

<article id="paper">
  <p id="word"></p>
  <p class="goal">Please type <em></em></p>
  <p><small>LEVEL <strong></strong></small></p>
</article>

<article id="congrats">
  <h1>SUPER VIBES TIME!!</h1>
  <h2>Congratulations!</h2>
  <h3>MAX VIBES <strong></strong> !!</h3>
</article>
