<main id="standby_screen">
  <h1>This is VibeWriter</h1>

  <article id="paper">
    <%= content_tag :p, @paper.word, id: 'word' %>
    <p class="goal">Please type <%= content_tag :em, @paper.goal_word %></p>
    <p><small>LEVEL <%= content_tag :strong, @paper.goal_word.size %></small></p>
  </article>

  <article id="congrats">
    <h1>SUPER VIBES TIME!!</h1>
    <h2>Congratulations!</h2>
    <h3>MAX VIBES <strong></strong> !!</h3>
  </article>
</main>
