button {
  background: #eee;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  width: 3em;
  margin: auto;
  padding: 0;
  border: outset .5em #ddd;
  border-top: outset .25em #ddd;
  border-bottom: outset .3em #ddd;
  font-size: 2em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, .2), inset 0 0 1em #bbb;
  -webkit-box-shadow: 0 0 .1em #000, inset 0 0 1em #bbb;
}

